/vendor/
/node_modules/

.env
.env.*
!.env.example

/storage/*

/public/images/banksoal/
/public/images/berita/
/public/images/kategori/
/public/images/mapel/
/public/images/promo/
/public/images/question/
/public/images/quiz/
/public/images/ref/
/public/images/slider/

.idea/
.vscode/

.phpunit.result.cache
error_log
